h1 {
    color: White;
    font-weight: bold;
    margin-bottom: 20px;
    text-decoration: underline;
    
}
body {
    background-image: url("/static/img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.navbar-brand{
    font-weight: bold;
    color: White;
}